
.child1{
    display: flex;
    gap:80px;
    padding: 8px 16px;
    height:50px;
    width:1510px;
}
.child2{
    display:flex;
    gap:30px;
    border:none;
    border-radius:5px;
    width:530px;
    padding:0px 16px;
    border: 1px solid black;
    border-radius: 10px;
}
