.sample4{
    display: flex;
    gap:40px;
    margin-top: 50px;
    padding: 0px 80px;
   
}
.sample5{
    display: flex;
    height:150px;
    width:300px;
    border: 1px solid black;
    font-size: large;
    border-radius: 10px;
}
.sample6{
    border-radius: 10px;
    padding: 20px 16px;
}