.containers2{
    display: flex;
    padding: 60px 80px;
    gap:60px;
}
.containers3{
    border:none;

}
.containers3:hover{
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); 
    transform: scale(1.0);
}